<section class="hero pd">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">The power of our imagination make us infinite</h1>
      <div class="is-two-thirds column is-paddingless">
        <h2 class="subtitle is-4 ">We have the privilege of working with some of the most brilliant professionals</h2>
      </div>
      <a class="button is-large is-primary" id="learn">Learn more</a>
    </div>
  </div>
</section>

<section class="section pd">

      <div class="container">
        <div class="columns">
          <div class="column is-1 has-text-centered">
            <i class="fa fa-cog is-primary"></i>
          </div>
          <div class="column is-one-third">
            <p class="title"><strong>We provide the best games inspiring the world.</strong></p>
          </div>
          <div class="column">
            <p>We are a home based game studio providing the best games on demand. We believe in excelence, we provide fun and we are looking forward to be part of your history.</p>
          </div>
        </div>

     <div class="columns pd">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="title">"Awesome!. I can't wait for the next game"</p>
              <p class="subtitle">- Mathew Douglas</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="title">"I think it's an absolutely excellent studio. We work together since 2013, now we're a family."</p>
              <p class="subtitle">- Jenny Andrew</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <p class="title">"I work here and this is the best game studio, truly the best team. Be here and be forced to agree!."</p>
              <p class="subtitle">- Tony Stark</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>